.shelf {
    background-image: url('Images/bookshelf_BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 285px;
    display: flex;
    align-items: flex-end;
    gap: 3rem;
    padding: 2rem 3rem 0 3rem;
    perspective: 1400px;
    margin-left: 0;

}

.book {
  position: relative;
  width: 170px;
  height: 220px;
  transform-style: preserve-3d;
  perspective-origin: 50% 50%;
  transform: translateZ(10px) translateY(-50px);
  cursor: pointer;

}

.shadow {
  position: absolute;
  bottom: 0;
  width: 210px;
  /*box-shadow: 0 8px 16px 8px var(--dark-color);*/
  transform: rotateY(-10deg);

}

.book>div {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: transform 1.5s;

}

.cover {
  transform: scaleY(1.05) rotateY(-10deg);
  border: 0.5px solid var(--dark-color);
}

.cover-end {
  transform: translateX(10px) rotateY(-10deg);
  border: 0.5px solid var(--dark-color);
}

.back {
  height: 250px;
  width: 10px;
  background-color: var(--subtle-color);
}

.page {
  background: linear-gradient(to right, var(--subtle-color), 20%, var(--main-color));
  border: 1px solid var(--subtle-color);
}

.page.first {
  transform: translateX(2px) rotateY(-10deg);
}

.page.second {
  transform: translateX(4px) rotateY(-10deg);
}

.page.third {
  transform: translateX(6px) rotateY(-10deg);
}

.page.last {
  transform: translateX(8px) rotateY(-10deg);
  display: flex;
  align-items: center;
}

.btn-tale {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  transition: opacity 1s;
  padding: 10px;
}

.btn-tale:hover {
  font-weight: bolder;
}

.book:hover .cover{
  transform: rotateY(-150deg);
}

.book:hover .page.first{
  transform: translateX(2px) rotateY(-150deg);
}

.book:hover .page.second{
  transform: translateX(4px) rotateY(-130deg);
}

.book:hover .page.third{
  transform: translateX(6px) rotateY(-110deg);
}


